/* desktop version */
@media screen and (min-width: 900px) {
	section {
		padding: 7.9rem;
	}

	.menu-toggle {
		display: none;
	}

	.nav {
		justify-content: space-between;
	}

	.nav-list {
		position: initial;
		width: initial;
		height: initial;
		background-color: transparent;
		padding: 0;
		justify-content: initial;
		flex-direction: row;
		transform: initial;
		transition: initial;
	}

	.nav-item {
		margin: 0 2.4rem;
		border: none;
	}

	.nav-item:last-child {
		margin-right: 0;
	}

	.nav-link {
		font-size: 1.3rem;
	}

	/* home page main */

	.about-us-links {
		margin-top: -7.9rem;
	}

	.about-us-links-container {
		grid-template-columns: 1fr 1fr 1fr;
	}

	/* all recipes page */
	.all-recipes-container {
		grid-template-columns: 1fr 1fr 1fr;
	}

	/* single recipe page*/
	.recipe__image {
		max-width: 40%;
	}

	.wp-block-columns {
		display: flex;
		width: 70%;
	}

	.recipe-ingredients-directions-container {
		display: flex;
	}

	.single-recipe-details-container {
		padding: 4.8rem;
	}

	.recipe-notes {
		width: 50%;
		padding: 0;
	}
}

/* tablet - mobile version */
@media screen and (max-width: 899px) {
	.hero h1 {
		font-size: 2.6rem;
	}

	.hero h2 {
		font-size: 1.8rem;
	}
}

/* mobile version */
@media screen and (max-width: 500px) {
	.carousel {
		margin-top: -15vh;
	}
}
