.single-recipe a {
	color: var(--hover-font-color);
	transition: color 0.5s;
}

.single-recipe a:hover {
	color: var(--main-font);
}

.view-all-recipes {
	padding-top: 0;
}

.recipe__image {
	display: flex;
	justify-content: center;
	margin: 2.4rem auto 0 auto;
	max-width: 100%;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.5s;
}

.recipe__image:hover {
	opacity: 0.8;
}

.modal {
	width: 40%;
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

.modal-content {
	margin: 0 auto;
	display: block;
	width: 100%;
	max-width: 100%;
}

.image-caption {
	margin: 0 auto;
	text-align: center;
	display: block;
	width: 100%;
	max-width: 25%;
	color: var(--secondary-font-color);
	padding: 2.4rem;
	font-size: 1.6rem;
}

.close-modal {
	position: absolute;
	top: 1.5rem;
	right: 3.5rem;
	color: #fff;
	font-size: 5rem;
	transition: 0.3s;
}

.close-modal:hover,
.close-modal:focus {
	color: var(--hover-gray);
	cursor: pointer;
}

.single-recipe-heading {
	text-align: center;
}

.wp-block-columns {
	/* border: solid 1px hotpink; */
	width: 100%;
	padding: 0 2.4rem;
	margin: 4.8rem auto;
}

.wp-block-columns h5 {
	text-transform: uppercase;
}

.single-recipe-details-container {
	background-color: var(--light-bg-color);
	text-align: center;
	padding: 2.4rem 0;
	margin-top: 4.8rem;
}

.single-recipe-details-container h2,
.single-recipe-details-container h3,
.single-recipe-details-container h4 {
	text-transform: uppercase;
}

.single-recipe-details-container ul {
	font-size: 1.6rem;
	display: inline-block;
	text-align: left;
}

.single-recipe-details-container p {
	text-align: left;
	margin-top: 2.4rem;
}

.single-recipe-details-container h6 {
	margin-top: 2.4rem;
}

.recipe-ingredients-container,
.recipe-directions-container {
	margin: 0 auto;
	padding: 2.4rem;
	flex-basis: 40%;
	line-height: 2.56rem;
}

.recipe-notes {
	width: 100%;
	padding: 2.4rem;
	margin: 0 auto;
}

.recipe-p-side-note {
	font-style: italic;
}

.recipe-directions-container h6 {
	text-transform: uppercase;
}

.print-recipe-container {
	text-align: center;
}

.print-recipe-link {
	text-transform: uppercase;
	font-family: var(--main-font);
	letter-spacing: 0.18rem;
	font-size: 1.8rem;
	border: none;
}
